@charset "UTF-8";

@font-face {
    font-family: 'young';
    src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'outfit';
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}






